<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body style="font-family: Arial, sans-serif;">
    <div style="background-color: #f5f5f5; padding: 20px;">
        <div style="background-color: white; padding: 20px; border-radius: 5px; box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);">
            <h1 style="color: #0085CA;">Dean's Office</h1>
            <hr style="border: 1px solid #f5f5f5;">

            <h2>Created Password</h2>
            <p>Dear <span th:text="${workerNameAndSurname}"></span>,</p>
            <p>Your new password for Dean's Office Web Application is <span th:text="${password}"></span> </p>

            <hr style="border: 1px solid #f5f5f5;">
            <p style="color: #888888;">Consider deleting this email after reading it.</p>
        </div>
    </div>
</body>
</html>